extends ./layouts/index
 
block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen torre eindfeild", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et condimentum sem, et placerat quam. Integer malesuada turpis quam. Maecenas leo dolor, euismod ut sagittis venenatis, tempus vel enim. In viverra tortor augue, quis sagittis libero congue non. Nam dapibus mattis elit, accumsan tempor tortor mollis facilisis. Ut non ex varius nisl efficitur tincidunt. In hac habitasse platea dictumst. Maecenas sit amet sollicitudin ligula. Nam ultricies pellentesque eros, ut congue justo rhoncus nec. Vestibulum vestibulum maximus tincidunt. Ut fermentum ligula in nulla mattis faucibus. In dignissim auctor risus sit amet gravida.
                p Nunc pulvinar, justo nec pulvinar viverra, enim augue semper metus, nec eleifend velit massa ut quam. Nam vel convallis odio. Aliquam varius ipsum at semper elementum. Nunc eu elit viverra, elementum tellus non, rhoncus nisl. Sed non eleifend magna. Cras placerat odio at turpis vehicula fermentum.
                p Vivamus lacinia pulvinar rutrum. Nulla in interdum sapien, vel egestas urna. Donec ullamcorper lorem ut magna venenatis commodo. Vivamus bibendum rhoncus risus, eu fermentum arcu dapibus molestie. Sed accumsan elit a nisi vulputate, quis laoreet magna venenatis. Nunc luctus porta purus, vel lobortis sapien tristique et. Curabitur finibus urna in augue varius ullamcorper. Curabitur venenatis massa a ligula venenatis, in commodo justo tempor. Quisque congue, eros at ullamcorper lobortis, magna augue interdum ipsum, a lacinia enim nisl vitae est. Morbi a dolor risus. Sed sapien tellus, commodo consectetur erat ac, sagittis pulvinar diam. Praesent et laoreet sapien.  
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg",alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Praesent et laoreet sapien. Mauris ultricies facilisis erat, quis blandit mi sollicitudin nec. Duis at tortor vestibulum, tincidunt nulla id, feugiat nisi. 
                .col-md-4
                    img(src="img/icono_destinos.svg",alt="icono de destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Praesent et laoreet sapien. Mauris ultricies facilisis erat, quis blandit mi sollicitudin nec. Duis at tortor vestibulum, tincidunt nulla id, feugiat nisi. 
                .col-md-4
                    img(src="img/icono_precios.svg",alt="icono de mejores precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p Praesent et laoreet sapien. Mauris ultricies facilisis erat, quis blandit mi sollicitudin nec. Duis at tortor vestibulum, tincidunt nulla id, feugiat nisi. 